<div class ="new-comment">
<%= form_with model: [post, post.comments.new ] do |form| %>
    <div class="form-title">
        <%= form.label :body %>
    </div>
    <div>
        <%= form.text_area :body, size: "30x5" %>
    </div>
    <br>
    <div>
        <button type="submit" class="comment-btn">Create Comment</button>
    </div>
<% end %>
</div>
